.professores-section {
  background-color: #007bff; /* Cor azul de fundo */
  color: #fff; /* Cor do texto branco */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

/* Estilizando os botões de cadastro e login de professores */
#redcadprof, #redlogprof {
  background-color: #fff; /* Cor de fundo branca para os botões */
  color: #007bff; /* Cor do texto azul para os botões */
  border: 1px solid #007bff; /* Borda azul para os botões */
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#redcadprof:hover, #redlogprof:hover {
  background-color: #007bff; /* Cor de fundo azul quando hover */
  color: #fff; /* Cor do texto branco quando hover */
}